body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ccc;
  color: black;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

.color-box {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.color-box:hover {
  opacity: 0.8;
}

.input-area {
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  width: 200px;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
  background-color: #ccc;
  color: balck;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
